*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: goldenrod;
}
#main{
    width: 50%;
    height: 50%;
    background-color: blue;
}