:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}
.answer-container {
  padding: 16px; 
  border-radius: 12px;     /* Rounded corners */
  border: 1px dashed #ddd; /* Center container horizontally */
}

.card-container{
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px  cyan;

  width: fit-content;
  border-radius: 10px;
  padding: 20px;
  margin:10px;
}
.card-container:hover{
  box-shadow: 5px 5px 15px cyan;
  transform: translateY(-4px) ;
  transition: transform 0.5s ease;
  
}

