.heading {
    margin-top: 20px;
    margin-bottom: 20px;

    width: fit-content;
    height: fit-content;
    border: 5px solid black;
    padding: 10px;

}

.box {
    border: 4px solid black;
    background-color: dodgerblue;

    padding: 20px;
    margin: 20px;

    border-radius: 50px;
}

.parent-container {
    display: flex;
    flex-direction: row-reverse;

    justify-content: center;
    background-color: rgb(82, 50, 189);
}

#nothing {
    border: 3px solid black;
}

.text {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: azure;
}